<%
  let listArr = site.categories.data.map(item=>{
    return {
      _id:item._id,
      name:item.name
    }
  })

  for( let i in listArr ) {
    listArr[i].list = []
  }

  let defaultCateArr = {
    _id:'defaultCate',
    name:'默认分类',
    list:[]
  }

  listArr.map((item,index)=>{
    let cateId = item._id;
    site.posts.map(itm=>{
      let artInfo = itm.categories.data[0]
      if (artInfo) {
        if(artInfo._id === cateId){
          item.list.push(itm)
        }
      }else{
        if(index === 0){ // 只取一次不带分类的文章
          defaultCateArr.list.push(itm)
        }
      }
    })
    // 按时间排序,新到旧
    item.list.sort((a,b) => b.date - a.date)
  })

  defaultCateArr.list.sort((a,b) => b.date - a.date)
  listArr.unshift(defaultCateArr)
%>

<article>
  <% let tocHTML = '' %>
  <h1 class="title"><%- page.title %></h1>
  <div class="entry-content flex">
    <% for( let i in listArr ) {
      tocHTML+= (listArr[i].list.length ? `<h3 id="${listArr[i]._id}">${(listArr[i].name).toLowerCase()}</h3>` :'')
    } %>

    <div class="flex-1">
      <% for( let i in listArr ) { %>
        <% if (listArr[i].list.length) { %>
          <h3 id="<%=listArr[i]._id%>">「 <%= (listArr[i].name).toLowerCase()%> 」</h3>
          <ul>
            <% for( let index = 0; index < listArr[i].list.length; index++ ) { %>
              <li>
                <a href="<%- config.root %><%- listArr[i].list[index].path %>"><%= listArr[i].list[index].title %> </a>
              </li>
              <% } %>
          </ul>
        <% } %>
      <% } %>
    </div>

    <% if (tocHTML.length) { %>
      <div class="post-toc">
        <div class="post-toc-content">
          <div class="toc-title">TOC</div>
          <%- toc(tocHTML) %>
        </div>
      </div>
    <% } %>
  </div>
</article>