<%- partial('_partial/head') %>
<body>
  <div class="container">
    <div class="left-col" style="background-image:url('<%= theme.sidePic %>')">
      <div class="intrude-less">
        <header id="header" class="inner">
          <a href="<%- config.root %>">
            <div class="profilepic"><img class="avatar" src='<%= theme.avatar %>'></div>
          </a>
          <div class="author-name"><a href="<%- config.root %>"><%= config.author %></a></div>
          <% if(config.description) { %><p class="aboutme"><%= config.description %></p><% } %>
          <nav id="main-nav">
            <ul class="main">
              <% for (var i in theme.menu.page) { %>
              <li>
                <% if (theme.menu.page[i]) { %>
                  <a href="<%- config.root %><%- theme.menu.page[i] %>"><%= i %></a>
                <% } %>
              </li>
              <% } %>
            </ul>
          </nav>
          <nav id="sub-nav">
            <div class="social">

              <% if(theme.social.twitter) { %>
                <a class="twitter" href="https://twitter.com/<%- theme.social.twitter %>" title="推特">Twitter</a>
              <% } %>
              <% if(theme.social.github) { %>
              <a class="github" href="https://github.com/<%- theme.social.github %>" title="Github">Github</a>
              <% } %>
              <% if(theme.social.juejin) { %>
                <a class="juejin" href="https://juejin.cn/user/<%- theme.social.juejin %>" title="掘金">掘金</a>
              <% } %>
              <% if(theme.social.yuque) { %>
              <a class="yuque" href="https://yuque.com/<%- theme.social.yuque %>" title="语雀">语雀</a>
              <% } %>
              <% if(theme.social.rss) { %>
              <a class="rss" href="<%- config.root%>rss.xml" title="RSS">RSS</a>
              <% } %>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <div class="mid-col">
      <div class="mid-col-container">
        <div id="content" class="inner">
          <%- body  %>
        </div>
        <%
          let useCmt =
            theme.leancloud.appId &&
            theme.leancloud.appKey &&
            theme.leancloud.sdk &&
            theme.valine.sdk && !(typeof page.comments == 'boolean' && !page.comments);
        %>

        <% if (!page.__index && useCmt ) { %>
          <div class="post-comments" id="Jcmt">
            <h1 class="post-comments-title">访客评论</h1>
            <div id="Jcomment"></div>
          </div>
        <% } %>
      </div>

      <footer id="footer" class="inner">
        © <%= (new Date).getFullYear();  %> - <%- config.author %> -
        <span id="busuanzi_container_site_pv">PV <span id="busuanzi_value_site_pv"></span></span>
        <p>Powered by <a href="https://hexo.io/">Hexo</a> & <a href="https://github.com/thinkerchan/hexo-theme-greyshade">GreyShade</a></p>
      </footer>
    </div>
  </div>
  <% if (!page.__index && useCmt ) { %>
  <script>
    let mod ={
      timePrefix:'t-',
      expire:1000*60*60,
      load:function(libName,libUrl,cb){
        let aval = (new Date).getTime() - localStorage.getItem(this.timePrefix+libName) < this.expire;
        let libStr = localStorage.getItem(libName)
        if (aval && libStr) {
          this.parseAndInsert(libStr)
          cb && cb(libStr);
        }else{
          this.ajax(libUrl,(str)=>{
            localStorage.setItem(libName, str)
            localStorage.setItem(this.timePrefix+libName, (new Date).getTime())
            this.parseAndInsert(str)
            cb && cb(str);
          })
        }
      },
      parseAndInsert(rawStr) {
        let script = document.createElement('script')
        script.innerHTML = rawStr
        document.body.appendChild(script)
      },
      ajax:function(url,cb){
        let xhr = new XMLHttpRequest;
        xhr.open('get', url, true)
        xhr.send();
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            cb && cb(xhr.responseText)
          }else{
            // console.log(xhr.readyState,xhr.status);
          }
        }
      },
      genCmt(){
        window.Valine && new Valine({
          el: '#Jcomment',
          appId: '<%= theme.leancloud.appId %>',
          appKey: '<%= theme.leancloud.appKey %>',
          notify: true,
          verify: false,
          avatar: 'monsterid',
          avatar_cdn: 'https://cravatar.cn/avatar/',
          pageSize: '10',
          placeholder: '<%= theme.valine.placeholder %>'
        })
      },
      lcSDK: '<%= theme.leancloud.sdk %>',
      valineSDK: '<%= theme.valine.sdk %>',
      expiredTipsTpl(){
        let ele = document.getElementById('JexpiredTips')
        let wrap = document.getElementById('JexpiredTipsWrap')

        if (!ele || !wrap) {
          return;
        }

        let date = new Date(ele.getAttribute('data-date'))
        let now = new Date()
        let diff = Math.floor((now - date) / (1000 * 60 * 60 * 24))
        if(diff < 30){
          wrap.style.display = 'none';
        }else{
          ele.innerHTML = diff;
        }
      }
    }

    mod.expiredTipsTpl();
    mod.load('lib-av', mod.lcSDK, () => {
      mod.load('lib-cmt',mod.valineSDK ,()=>{
        let t = setTimeout(() => {
          mod.genCmt()
          clearTimeout(t)
          t = null;
        }, 100);
      })
    })
  </script>
  <% } %>

  <script async defer src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <script async defer src="https://tongji.linkroutes.com/script.js" data-website-id="f41ddf8b-871a-4969-9afb-ec254a58786b"></script>
</body>
</html>