<article class="post">
<% if(index) { %>
  <h1 class="title" itemprop="name">
    <a href="<%- config.root %><%- item.path %>" itemprop="url"><%= item.title %></a>
  </h1>
  <div class="entry-content" itemprop="articleBody">
    <% if (item.excerpt||theme.excerpt){ %>
      <%- truncate( item.excerpt || strip_html(item.content),{length: 200,omission: ' '})+'...' %>
      <a href="<%- config.root %><%- item.path %>" class="more-link">
        <%= theme.excerpt_link %>
        <div class="meta meta-index-post-entry">
          <%- partial('post/date', {type: "index"}) %>
        </div>
      </a>
    <% } else { %>
      <%- item.content %>
    <% } %>
  </div>

<% } else { %>
  <% if (!item.hideDate) { %>
    <div class="meta">
      <%- partial('post/date', {type: "post"}) %>
    </div>
  <% } %>
  <h1 class="title" itemprop="name"><%= item.title %></h1>
  <div class="entry-content" itemprop="articleBody">
    <% if (!index && toc(item.content)) { %>
    <div class="post-toc">
      <div class="toc-title">TOC</div>
      <%- toc(item.content) %>
    </div>
    <% } %>
    <%- item.content %>
  </div>
<% } %>
</article>