<article class="post">
<% if(index) { %>
  <!-- 网站首页结构 -->
  <h1 class="title" itemprop="name">
    <a href="<%- config.root %><%- item.path %>" itemprop="url"><%= item.title %></a>
  </h1>
  <div class="entry-content" itemprop="articleBody">
    <% if (item.excerpt||theme.excerpt){ %>
      <%- truncate( item.excerpt || strip_html(item.content),{length: 200,omission: ' '})+'...' %>
      <a href="<%- config.root %><%- item.path %>" class="more-link">
        <%= theme.excerpt_link %>
        <div class="meta meta-index-post-entry">
          <%- partial('post/date', {type: "index"}) %>
        </div>
      </a>
    <% } else { %>
      <%- item.content %>
    <% } %>
  </div>

<% } else { %>
  <!-- 文章页结构 -->
  <% if (!item.hideDate) { %>
    <div class="meta">
      <%- partial('post/date', {type: "post"}) %>
    </div>
  <% } %>
  <h1 class="title" itemprop="name"><%= item.title %></h1>



  <div class="entry-content flex" itemprop="articleBody">
    <div>
      <% if (!item.hideDate && !item.hideTips) { %>
        <p class="expired-tips">提醒：本文发布于 <%= moment().diff(moment(item.date), 'days')%> 天前，文章内容可能 因技术时效性过期 或 被重新修改，请谨慎参考。</p>
      <% } %>

      <%- item.content %>
    </div>

    <% if (!index && toc(item.content)) { %>
      <div class="post-toc">
        <div class="post-toc-content">
          <div class="toc-title">TOC</div>
          <%- toc(item.content) %>
        </div>
      </div>
    <% } %>
  </div>
<% } %>
</article>